html, body{
  height: 100%;
  width: 100%
}

body{
  font-family: 'Kaisei HarunoUmi', serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: #999;
  height: 250px;
  width: 500px;
}

header{
  display: block;
  top: 0;
  left: 0;
  width: 96%;
  background-color: #d8e2dc;
  padding: 10px;
  
}

button {
  height: 50px;
  width: 95%;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fec5bb;
  align-items:center;
  text-align: center;
  
}

#submit{
  background-color:#ece4db;
  
}


  
button .current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }

#clearAll {
  white-space:nowrap;
  min-width: max-content; 
  padding: 1px;
  height: 40px;
  background-color: #ece4db;
}

main{
    display: block;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height:85%;
    background-color:white;
    
}

main div{
  display: none
}

main div label,  main div input{
  margin: 10px 5px 0px 10px;

  display:block
}

main div input{
  display: inline-block
}
main div button{
  height: 20px;
  width: 55px;
  outline: none;
  margin: 5px;
  border: none;
  background-color: gray;
  align-items:center;
  text-align: center;}

/* main div button #clearAll{
  width: 80px;
} */
ul{
  list-style-type: none;
}

ul li a{
  text-decoration: none;
  display: block;
  background-color: #f8edeb;
  
}

ul li a:hover{
  background-color: #e8e8e4;
}

ul li ul li{
  display: none;
  background-color: #d8e2dc;
}

ul li:hover ul li{
  display: block;
  background-color: #fcd5ce;
}
