html, body{
  height: 100%;
  width: 100%
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #999;
  height: 250px;
  width: 500px;
}

header{
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 217, 255);
  padding: 10px
}



button {
    height: 30px;
    width: 50px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
    background-color: pink;
    align-items:center;
  }
  
button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }


main{
    display: flex;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height:85%;
    background-color:white;
}

main div{
  display: none
}

ul li a{
  text-decoration: none;
  display: block;
}

ul li a:hover{
  background-color: salmon;
}

ul li ul li{
  display: none;
}

ul li:hover ul li{
  display: block;
}